<form action="/payment/results">
  <div>
    <label for="one">
      APR
    </label>
    <input id="one" placeholder="E.g. 5.42" name="apr">
  </div>

  <div>
    <label for="two">
      Number of years
    </label>
    <input id="two" placeholder="How many years to repay?" name="years">
  </div>

    <div>
    <label for="three">
      Principal
    </label>
    <input id="three" placeholder="How much principal" name="principal">
  </div>

  <div>
    <button>
      Calculate monthly payment
    </button>
  </div>
</form>
