<form action="/random/results">
  <div>
    <label for="one">
      Minimum
    </label>
    <input id="one" placeholder="E.g. 1.5" name="user_min">
  </div>
  
  <div>
    <label for="two">
      Maximum
    </label>
    <input id="two" placeholder="E.g. 4.5" name="user_max">
  </div>
  
  <div>
    <button>
      Pick random number
    </button>
  </div>
</form>
